/*
**************************
   Import Css Page
**************************
*/
@import url("./welcome.css");
@import url("./user_home.css");



/*
**************************
    Default Css
**************************
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img {
    object-fit: cover;
    object-position: center;
}
textarea {
    resize: none;
}
.form-control:focus {
    border-color: #ddd;
    box-shadow: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.cursor-pointer {
    cursor: pointer;
}

/*
**************************
    Reuse Css
**************************
*/
#body-area {
    width: 100%;
    min-height: 100vh;
}
.text-justify {
    text-align: justify;
}
.text-bold {
    font-weight: bolder;
}