/*
**************************
    Default Css
**************************
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img {
    object-fit: cover;
    object-position: center;
}
textarea {
    resize: none;
}
.form-control:focus {
    border-color: #ddd;
    box-shadow: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.cursor-pointer {
    cursor: pointer;
}
::-webkit-scrollbar {
    display: none;
}

/*
**************************
    Reuse Css
**************************
*/
#body-area {
    width: 100%;
    min-height: 100vh;
}
.text-justify {
    text-align: justify;
}
.text-bold {
    font-weight: bolder;
}
#profile_photo_size {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/*
**************************
    Welcome Page Css
**************************
*/
#welcome-right-part p {
    letter-spacing: 1px;
    word-spacing: 9px;
    line-height: 29px;
    text-transform: capitalize;
    margin: 7px 0px;
}
#welcome-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

@media only screen and (max-width: 576px) {
    #welcome-right-part h1 {
        font-size: 26px;
    }
    #welcome-right-part p {
        letter-spacing: 0px;
        line-height: normal;
        word-spacing: 0px;
    }
}
@media only screen and (max-width: 1200px) {
    #welcome-card {
        width: 100%;
    }
}
@media only screen and (min-width: 1400px) {
    #welcome-card {
        width: 45%;
    }
}

/*
**************************
    Home Page Css
**************************
*/
#user-home-cover-pic {
    height: 300px;
    object-position: middle;
}
#user-home-job-category > div {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #efefef !important;
}
#user-job-card img,
#profile-small-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}